body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

main {
    padding: 20px;
}

h1 {
    color: #333;
}

a {
    text-decoration: none;
    color: blue;
}


.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px 0;
    background-color: #007BFF; 
    color: black;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3; 
}


ul.button-list {
    list-style: none;
    padding: 0;
}

ul.button-list li {
    margin-bottom: 10px;
}
